
.diseñoDetallesRecetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #060613;
}

.cardReceta {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60em;
    height: 20em;
    border-radius: 1em;
    border: 3px solid white;
    background-color: lightgrey;
    margin-top: 3em;
    margin-bottom: 3em;
}
   

.cardRecetaIzquierda {
    /* border: 1px solid black; */
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 20em;
   }

   .cardRecetaIzquierdaFoto {
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 20em;
   }

   .cardRecetaDerecha{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 40em;
    height: 20em;  
   }

   .cardRecetaDerechaIngredientes {
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 40em;
    height: 3em;   
   }

.cardRecetaDerechaPreparacion {
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 40em;
    height: 17em;   
}

.contenedorInfo {
    height: 5em;
    width: 100%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../public/img/tenedores.png);  
    background-repeat: repeat;
    /* background-size: cover; */
    background-size: contain;
}

.contenedorDetallesRecetasTexto{
    color: white;
}