
.diseñoDetallesRecetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30em;
    width: 100vw;
}

.cardReceta {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60em;
    height: 20em;
    border-radius: 1em;
    border: 3px solid white;
    background-color: lightgrey;
}
   

.cardRecetaIzquierda {
    /* border: 1px solid black; */
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 20em;
   }

   .cardRecetaIzquierdaFoto {
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 20em;
   }

   .cardRecetaDerecha{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 40em;
    height: 20em;  
   }

   .cardRecetaDerechaIngredientes {
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 40em;
    height: 3em;   
   }

.cardRecetaDerechaPreparacion {
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 40em;
    height: 17em;   
}
