.diseñoHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #060613;

}

.contenedorInfo {
    height: 5em;
    width: 100%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../public/img/tenedores.png);  
    background-repeat: repeat;
    /* background-size: cover; */
    background-size: contain;
}

.infoTipos {
    height: 4em;
    width: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    background: rgb(200, 255, 235);
    background: linear-gradient(180deg, rgba(200, 255, 235, 1) 4%, rgba(94, 255, 195, 1) 55%, rgba(45, 124, 94, 1) 94%);
}

.contenedorTipos {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em; 
    margin-bottom: 2em;
    row-gap: 3em;
    column-gap: 3em;
    flex-wrap: nowrap;

}


/* BLOQUE 1 */

.bloque1Tipos {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    cursor: pointer;
    color: antiquewhite;
   
}

.bloque1Tipos1 {
    height: 100%;
    width: 25%;
    /* border: 3px solid whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-image: url(../../../public/img/ensalada.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.bloque1Tipos2 {
    height: 100%;
    width: 25%;
    /* border: 3px solid whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-image: url(../../../public/img/asado.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bloque1Tipos3 {
    height: 100%;
    width: 25%;
    /* border: 3px solid whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-image: url(../../../public/img/salsa.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bloque1Tipos4 {
    height: 100%;
    width: 25%;
    /* border: 3px solid whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-image: url(../../../public/img/crujiente.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


/* BLOQUE 2 */

.bloque2Tipos {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: antiquewhite;
}

.bloque2Tipos1 {
    height: 100%;
    width: 25%;
    /* border: 3px solid whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-image: url(../../../public/img/crudo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.bloque2Tipos2 {
    height: 100%;
    width: 25%;
    /* border: 3px solid whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-image: url(../../../public/img/vegano.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bloque2Tipos3 {
    height: 100%;
    width: 25%;
    /* border: 2px solid whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-image: url(../../../public/img/chile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bloque2Tipos4 {
    height: 100%;
    width: 25%;
    /* border: 3px solid whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-image: url(../../../public/img/especias\ .png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* BLOQUE 3 */

.bloque3Tipos {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    cursor: pointer;
    color: antiquewhite;
}

.bloque3Tipos1 {
    height: 100%;
    width: 25%;
    /* border: 3px solid whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-image: url(../../../public/img/pescado.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.bloque3Tipos2 {
    height: 100%;
    width: 25%;
    /* border: 3px solid whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-image: url(../../../public/img/carne.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bloque3Tipos3 {
    height: 100%;
    width: 25%;
    /* border: 3px solid whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-image: url(../../../public/img/plancha.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position: center;
}

.bloque3Tipos4 {
    height: 100%;
    width: 25%;
    /* border: 3px solid whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-image: url(../../../public/img/cocido.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* BLOQUE 4 */

/* .bloque4Tipos {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    cursor: pointer;
    color: antiquewhite;
}

.bloque4Tipos1 {
    height: 100%;
    width: 25%;
    border: 3px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}


.bloque4Tipos2 {
    height: 100%;
    width: 25%;
    border: 2px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.bloque4Tipos3 {
    height: 100%;
    width: 25%;
    border: 2px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.bloque4Tipos4 {
    height: 100%;
    width: 25%;
    border: 2px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
} */