

.contenedorHeader {
    background-color: #060613;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5em;
    font-size: 17px;
    width: 100vw;
   
}

.logo {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 10em;
    border-radius: 1em;
    border: 5px solid lightgreen;
    color: lightgreen;
    cursor: pointer;
}


.secciones {
    background-color: lightgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    width: 55em;
    border-radius: 1em;
    cursor: pointer;
    border: 5px solid whitesmoke;
   }

.textoSecciones {
    font-size: 17px;
}

.textoSecciones:hover {
    font-size: 20px;
}

.entrar {
    background-color: lightgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    width: 30em;
    border-radius: 1em;
    cursor: pointer;
    border: 5px solid whitesmoke;
}

.registro {
    font-size: 17px;
}

.registro:hover{
    font-size :20px
}

.acceso {
    font-size: 17px;
}

.acceso:hover {
   font-size: 20px;
}