.contenidoTipo {
    height: 100%;
    width: 100%;
    background-color: #060613;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
    flex-wrap: wrap;
}

.itemTipo{
    height: 22em;
    width: 20em;
    background-color: lightgrey;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1em;
    border: 3px solid white;
}

.titulo {
    font-style: italic;
}



