.contenedorFooter {
    background-color: #060613;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6em;
    width: 100%; 
    box-sizing: border-box;
    
   }

.contenidoFooter {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10em; 
    /* border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke; */
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    }

.iconosFooter {
    /* background: rgb(200,255,235); */
    /* background: linear-gradient(180deg, rgba(200,255,235,1) 4%, rgba(94,255,195,1) 55%, rgba(45,124,94,1) 94%); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    width: 20em;
    border-radius: 2em 2em 2em 2em;
    box-sizing: border-box;
   }


/* ICONOS */

.iconoFacebook {
    background-color: lightgrey;
    height: 2em;
    width: 2em;
    border-radius: 2em;
    background-image: url(../../../public/img/fb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  
}

.iconoInstagram {
    background-color: lightgrey;
    height: 2em;
    width: 2em;
    border-radius: 2em; 
    background-image: url(../../../public/img/is.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.iconoTwitter {
    background-color: lightgrey;
    height: 2em;
    width: 2em;
    border-radius: 2em;
    background-image: url(../../../public/img/tw.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   
}

.contactoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}